<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/create.css?v=2">
    <title>Document</title>
</head>
<body>
    <form action="/create_blog" method="post">
    <label>Title</label>
    <input type="text" name="title">
    <label>Context</label>
    <textarea name="context" rows="5" placeholder="Write your blog content..."></textarea>
    <button type="submit" >Submit</button>
    <a href="/desktop">Back</a>
    </form>
</body>
</html>