<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/delete/{{ users.id }}" method="post">
        
        <input type="text" name="title" value="{{ users.title }}">
        
        <textarea name="context">{{ users.context }}</textarea>
        
        
        <button type="submit">Delete</button>
    </form>
       <a href="/" class="back-btn">⬅ Back</a>
    
</body>
</html>